<ion-tabs color="primary">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="onNavigateHome()">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="onNavigateCarrinho()">
      <ion-icon name="cart"></ion-icon>
      <ion-badge>{{(totalItensCarrinho$ | async)}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button (click)="onNavigateStatus()">
      <ion-icon name="list-box"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="onNavigateHistorico()">
      <ion-icon name="folder-open"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="onNavigatePerfil()">
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="onNavigateAdmin()" *ngIf="(usuario$ | async)?.perfis_id === 2">
      <ion-icon name="cube"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>