:host {
  ion-content {
    --background: url("../../../assets/images/bg.jpg");
  }
}

.input {
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #766f74;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
  width: 100%;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-login {
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 450;

  --background: #533661;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

