<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-size: 17px;">Cadastro de Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
        <small>Voltar</small>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="selectImage()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-progress-bar *ngIf="!(categorias$ | async)" type="indeterminate"></ion-progress-bar>
  <form [formGroup]="formData">
    <ion-card padding style="margin-bottom: 30px;">
      <ion-card-title class="ion-text-center">Foto do Produto</ion-card-title>
      <ion-row>
        <ion-item *ngIf="formData.get('foto')?.value">
          <ion-img [src]="images + formData?.get('foto')?.value"></ion-img>
        </ion-item>

        <!-- <ion-item *ngIf="formData?.get('foto_produto')?.value">
          <ion-img [src]="formData?.get('foto_produto')?.value"></ion-img>
        </ion-item> -->

        <ion-item *ngIf="fotoProduto$ | async">
          <ion-img [src]="fotoProduto$ | async"></ion-img>
        </ion-item>

      </ion-row>

      <ion-row>
        <ion-list>
          <!-- <ion-item *ngIf="formData.get('foto')?.value">
            <ion-img [src]="images + formData?.get('foto')?.value"></ion-img>
          </ion-item>

          <ion-item *ngIf="formData?.get('foto_produto')?.value">
            <ion-img [src]="formData?.get('foto_produto')?.value"></ion-img>
          </ion-item> -->

          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select class="input" style="width: 100%; text-align: center; padding-bottom: 5px;"
              placeholder="Selecione a Categoria" formControlName="categorias_id">
              <ion-select-option [value]="cat?.id" *ngFor="let cat of (categorias$ | async)">{{ cat.id }} -
                {{ cat?.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Nome do Produto</ion-label>
            <ion-input padding formControlName="nome" class="input" type="text" required>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Qtd. Estoque</ion-label>
            <ion-input padding formControlName="qtd_estoque" class="input" type="number" required>
            </ion-input>
          </ion-item>

          <ion-item lines="none" style="width: 100%">
            <ion-label position="floating">Preço</ion-label>
            <ion-input formControlName="preco" type="number"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label><small>Exibir produto na página principal?</small></ion-label>
            <ion-toggle formControlName="ativo"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-row>

      <ion-col>
        <ion-button [disabled]="!formData.valid" expand="full" (click)="onSave()">
          Salvar
        </ion-button>
      </ion-col>

    </ion-card>
  </form>

</ion-content>