<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <h5 class="title">Status do Pedido</h5>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="max-width: 90px;">
          <ion-label class="imgRestaurante">
            <ion-icon name="restaurant"></ion-icon>
          </ion-label>
        </ion-col>
        <ion-col id="nomeRestaurante">
          <ion-row>
            Artes new confeitaria
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 25px;" *ngFor="let item of estrelas">
              <ion-icon name="star"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-grid style="padding-top: 25px;">
    <ion-row style="justify-content: center;">
      Situação do pedido
    </ion-row>
  </ion-grid>

  <ion-grid class="timeLine">
    <ion-col>
      <ion-row>
        <ion-col class="icone">
          <ion-icon style="color: grey" name="arrow-dropdown-circle"></ion-icon>
        </ion-col>
        <ion-col class="status">
          Aguardando restaurante
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icone">
          <ion-icon style="color: grey" name="arrow-dropdown-circle"></ion-icon>
        </ion-col>
        <ion-col class="status">
          Confirmado
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icone">
          <ion-icon style="color: green" name="arrow-dropdown-circle"></ion-icon>
        </ion-col>
        <ion-col class="status">
          Em preparo
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icone">
          <ion-icon style="color: grey" name="arrow-dropdown-circle"></ion-icon>
        </ion-col>
        <ion-col class="status">
          Pronto
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icone">
          <ion-icon style="color: grey" name="arrow-dropdown-circle"></ion-icon>
        </ion-col>
        <ion-col class="status">
          Saiu para entrega
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icone">
          <ion-icon style="color: grey" name="arrow-dropdown-circle"></ion-icon>
        </ion-col>
        <ion-col class="status">
          Finalizado
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>