<ion-header>
  <app-toolbar title="STATUS DO PEDIDO"></app-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar *ngIf="!(restaurantes$ | async)?.length || !(status$ | async)?.length" type="indeterminate">
  </ion-progress-bar>

  <div>

    <ion-item style="padding-right: 16px; padding: 0;" *ngFor="let restaurante of restaurantes$ | async">
      <ion-col style="height: 100%;">
        <ion-row style="justify-content: center;">
          <ion-label class="imgRestaurante">
            <img class="card-img" [src]="imageLogo" />
          </ion-label>
        </ion-row>
        <ion-row style="padding-left: 15px; padding-bottom: 5px; justify-content: center;">
          <rating [rate]="(avaliacoes$ | async)?.avgAvaliacao" [readonly]="true" size="5">
          </rating>
        </ion-row>
        <ion-col style="margin-top: 10px; display: flex; justify-content: space-between">
          <a ion-button style="font-size: 18px" [href]="whatsAppPhone">
            <ion-icon class="icon" name="logo-whatsapp"></ion-icon>
            <span class="text">iCandy</span>
          </a>
          <a ion-button style="font-size: 18px" [href]="artesNew">
            <ion-icon class="icon" name="logo-instagram"></ion-icon>
            <span class="text">ArtesNeW</span>
          </a>
        </ion-col>
      </ion-col>
    </ion-item>

    <ion-grid *ngIf="(pedido$ | async)?.id" style="padding-top: 20px;">
      <ion-row style="justify-content: center;">
        Situação do pedido
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="(pedido$ | async)?.id" class="timeLine">
      <ion-col>
        <ion-row style="justify-content: center;" *ngFor="let s of status$ | async">
          <ion-col class="icone">
            <ion-icon *ngIf="s.id === (pedido$ | async)?.status_pedido_id; else statusDefault" style="color: green"
              name="arrow-dropdown-circle"></ion-icon>
            <ng-template #statusDefault>
              <ion-icon style="color: grey" name="arrow-dropdown-circle"></ion-icon>
            </ng-template>
          </ion-col>
          <ion-col class="status">
            {{s?.descricao}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-grid>
  </div>

</ion-content>