<ion-header>
  <app-toolbar title="STATUS DO PEDIDO"></app-toolbar>
</ion-header>

<ion-content>
  <ion-item style="padding-right: 16px;" *ngFor="let restaurante of restaurantes$ | async">
    <ion-col style="height: 100%;">
      <ion-row style="justify-content: center;">
        <ion-label class="imgRestaurante">
          <img class="card-img" [src]="imageLogo" />
        </ion-label>
      </ion-row>
      <ion-row style="margin-top: -5%;padding-left: 15px; padding-bottom: 5px; justify-content: center;">
        <rating [rate]="(avaliacoes$ | async)?.avgAvaliacao" [readonly]="true" size="5">
        </rating>
      </ion-row>
    </ion-col>
  </ion-item>

  <ion-grid style="padding-top: 20px;">
    <ion-row style="justify-content: center;">
      Situação do pedido
    </ion-row>
  </ion-grid>
<!-- {{pedido$ | async | json}} -->
  <ion-grid class="timeLine">
    <ion-col>
      <ion-row style="justify-content: center;" *ngFor="let s of status$ | async">
        <ion-col class="icone">
          <ion-icon *ngIf="s.id === (pedido$ | async)?.status_pedido_id; else statusDefault" style="color: green"
            name="arrow-dropdown-circle"></ion-icon>
          <ng-template #statusDefault>
            <ion-icon style="color: grey" name="arrow-dropdown-circle"></ion-icon>
          </ng-template>
        </ion-col>
        <ion-col class="status">
          {{s?.descricao}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>