<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26412989148-99edf9nbuaj710271tsacbbs5m0jtnbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26412989148-99edf9nbuaj710271tsacbbs5m0jtnbm</string>
	<key>API_KEY</key>
	<string>AIzaSyAk93e-6fG_oKSm1exHuv4x0tLpiFn4KnM</string>
	<key>GCM_SENDER_ID</key>
	<string>26412989148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>appicandy</string>
	<key>STORAGE_BUCKET</key>
	<string>appicandy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26412989148:ios:d67c195f61ac915d311219</string>
	<key>DATABASE_URL</key>
	<string>https://appicandy.firebaseio.com</string>
</dict>
</plist>