<ion-header>
  <app-toolbar title="PERFIL"></app-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="!(usuario$ | async)" type="indeterminate"></ion-progress-bar>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="selectImage()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form [formGroup]='formCRUD'>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-avatar class="avatar">
          <ion-img [src]="pathImg + (currentImage$ | async)" *ngIf="currentImage$ | async"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row>
        <ion-card padding>
          <ion-card-header class="card-header">
            <ion-card-title>{{(usuario$ | async)?.nome}} {{(usuario$ | async)?.sobrenome}}</ion-card-title>
            <ion-card-subtitle class="ion-text-center" color="primary" (click)="doLogout()">Sair</ion-card-subtitle>
          </ion-card-header>
          <ion-list>

            <ion-item lines="none">
              <ion-label class="label">E-MAIL</ion-label>
              <ion-input formControlName="email" type="email" placeholder="EMAIL"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label class="label">SENHA</ion-label>
              <ion-input formControlName="password" type="password" placeholder="SENHA"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label class="label">TELEFONE</ion-label>
              <ion-input formControlName="telefone" type="text" placeholder="TELEFONE" [brmasker]="{phone: true}">
              </ion-input>
            </ion-item>
            <div class="input-group error">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="validation-errors"
                  *ngIf="formCRUD.get('password').hasError(validation.type) && (formCRUD.get('password').dirty || formCRUD.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <div class="input-group error">
              <ng-container *ngFor="let validation of validation_messages.telefone">
                <div class="validation-errors"
                  *ngIf="formCRUD.get('telefone').hasError(validation.type) && (formCRUD.get('telefone').dirty || formCRUD.get('telefone').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <span *ngIf="canEdit; else view">
              <ion-row>
                <ion-button class="btn-width" (click)="cancelar()" size="small" color="primary">Cancelar</ion-button>
                <ion-col></ion-col>
                <ion-button [disabled]="!formCRUD.valid" class="btn-width" (click)="onEdit(false);" size="small"
                  color="primary">Salvar</ion-button>
              </ion-row>
            </span>
            <ng-template #view>
              <ion-button class="btn-width" (click)="onEdit(true);" size="small" color="primary">Editar</ion-button>
            </ng-template>
          </ion-list>
        </ion-card>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>