<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: -webkit-right;">Pedido Nº {{passedId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-progress-bar *ngIf="!(pedido$ | async)?.length" type="indeterminate"></ion-progress-bar>

  <ion-card-content style="max-height: 170px;">
    <ion-list *ngFor="let item of pedido$ | async">
      <ion-row>
        <ion-col style="max-width: 35px;">
          {{item.quantidade}}x
        </ion-col>
        <ion-col>
          {{(item.produto)?.nome}}
        </ion-col>
        <ion-col style="text-align: end;">
          R$ {{(item.produto)?.preco}}
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-item-divider></ion-item-divider>
    <ion-row style="margin-bottom: 10px;">
      <ion-col>
        Total
      </ion-col>
      <ion-col style="text-align: end;">
        R$ {{total}}
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-content>