#titulo {
    text-align: center;
}

#btnCriarConta {
    margin-top: 20px;
    --background: #B41661;
}

.center {
    text-align: center;
    margin: auto;
}

#endEntrega {
    max-width: 100%;
    margin: auto;
}