<ion-header>
  <ion-toolbar>
    <ion-title id="titulo">Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label class="center">Local de entrega</ion-label>
    </ion-item>

    <ion-item>
      <ion-select id="endEntrega" placeholder="Endereço" value=1>
        <ion-select-option value="1">Entrada dos estandes</ion-select-option>
        <ion-select-option value="2">Cantina</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <small style="margin-left: 10px;">
        Entrega entre 2-5 mininutos por R$ 1,00
      </small>
    </ion-item>

  </ion-card>

  <ion-card>

    <ion-item>
      <ion-label style="max-width: 30px;">1x</ion-label>
      <ion-label style="max-width: 160px;">Brigadeiro</ion-label>
      <ion-label>R$ 15,00</ion-label>
      <ion-button>
        <ion-icon class="center" name="remove" slot="end"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button class="center" fill="outline" expand="end">Adicionar mais produtos</ion-button>
    </ion-item>


    <div style="padding-left: 18px;padding-top: 5px;">
      <small>Total da compra: R$ 15,00</small>
    </div>
    <div style="padding-left: 18px;">
      <small>Total da entrega: R$ 1,00</small>
    </div>


    <ion-item>
      <ion-label>Total a pagar</ion-label>
      <ion-label style="text-align: end;">R$ 16,00</ion-label>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Alguma observação?</ion-label>
      <ion-textarea rows="4" cols="20"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-button id="btnPagamento" expand="full">Pagamento</ion-button>

</ion-content>