<ion-header>
  <app-toolbar title="CARRINHO"></app-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar *ngIf="!(formasPagamento$ | async)?.length" type="indeterminate"></ion-progress-bar>

  <form [formGroup]="formCRUD">

    <!-- <ion-item lines="none">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Local de entrega</ion-label>
        <ion-select id="endEntrega" formControlName="localEntrega">
          <ion-select-option *ngFor="let localizacao of (localizacoes$ | async)?.rows" [value]="localizacao?.id">
            {{ localizacao?.local }}</ion-select-option>
        </ion-select>
      </ion-item> -->


    <ion-card>
      <ion-item-group style="text-align: center; margin: 10px;">
        <ion-row style="justify-content: center;">
          <ion-icon color="primary" style="font-size: 20px; padding-right: 5px;" name="pin"></ion-icon>
          <ion-label style="padding-bottom: 5px; color: black">Local de Entrega</ion-label>
        </ion-row>
        <ion-item-divider></ion-item-divider>
      </ion-item-group>
      <ion-row style="justify-content: center;">
        <ion-button outline="true" size="small" style="margin-bottom: 15px;" (click)="escolherLocalEntrega()"
          expand="full">Escolher
          local</ion-button>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-item-group style="text-align: center; margin: 10px;">
        <ion-row style="justify-content: center;">
          <ion-icon style="font-size: 20px; padding-right: 5px; color: grey;" name="information-circle"></ion-icon>
          <ion-label style="padding-bottom: 5px; color: black">Informações do Pedido</ion-label>
        </ion-row>
        <ion-item-divider></ion-item-divider>
      </ion-item-group>
      <ion-row class="center" padding *ngFor="let produto of produtoCarrinho$ | async">
        <ion-col style="max-width: 30px;"><small>{{ produto?.qtd }}</small>x</ion-col>
        <ion-col style="max-width: 130px;">{{ produto?.nome }}</ion-col>
        <ion-col>{{ produto?.preco * produto?.qtd | currency: 'BRL' }}</ion-col>
      </ion-row>
      <ion-item lines="none">
        <ion-label style="padding-right: 5px;">Troco?</ion-label>
        <ion-checkbox color="primary" (ionChange)="hasTroco($event)"></ion-checkbox>
        <ion-input type="text" #troco formControlName="troco" placeholder="Informe aqui" class="ion-text-end"
          [brmasker]="{money: true}">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="font-size: 12px">Total a pagar</ion-label>
        <ion-label style="text-align: right;">{{ (totalCompra|| 0) | currency: 'BRL' }}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item-group style="text-align: center; margin: 10px;">
        <ion-row style="justify-content: center;">
          <ion-icon style="font-size: 20px; padding-right: 5px; color: green;" name="cash"></ion-icon>
          <ion-label style="padding-bottom: 5px; color: black">Pagamento</ion-label>
        </ion-row>
        <ion-item-divider></ion-item-divider>
      </ion-item-group>
      <form [formGroup]="formCRUD">
        <ion-item lines="none">
          <ion-label style="font-size: 12px">Forma de Pagamento</ion-label>
          <ion-select formControlName="formas_pagamento_id" interface="action-sheet" okText="Confirmar"
            cancelText="Cancelar">
            <ion-select-option *ngFor="let formaPagamento of (formasPagamento$ | async)" [value]="formaPagamento?.id">
              {{ formaPagamento?.descricao }}</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
      <form [formGroup]="formCRUDCPF">
        <ion-item lines="none">
          <ion-label style="font-size: 12px" class="label">Comprador</ion-label>
          <ion-input style="font-size:14px; text-align: center;" padding formControlName="cpf" id="cpf" class="input"
            type="string" placeholder="Informe seu CPF" [brmasker]="{mask:'000.000.000-00', len:14}"></ion-input>
        </ion-item>
        <div class="input-group error">
          <ng-container *ngFor="let validation of validation_messages.cpf">
            <div class="validation-errors"
              *ngIf="formCRUDCPF.get('cpf').hasError(validation.type) && (formCRUDCPF.get('cpf').dirty || formCRUDCPF.get('cpf').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </form>
    </ion-card>

    <ion-card>
      <ion-item-group style="text-align: center; margin: 10px;">
        <ion-row style="justify-content: center;">
          <ion-icon style="font-size: 20px; padding-right: 5px; color: black;" name="add"></ion-icon>
          <ion-label style="padding-bottom: 5px; color: #6f2367;">Adicional</ion-label>
        </ion-row>
        <ion-item-divider></ion-item-divider>
      </ion-item-group>
      <ion-item lines="none">
        <ion-label position="floating"><small>Ajude-nos a te encontrar facilmente, descreva um ponto de
            referencia:</small></ion-label>
        <ion-textarea formControlName="observacao" rows="3" cols="20"></ion-textarea>
      </ion-item>
    </ion-card>

    <ion-label color="primary">
      <ion-button id="btnPagamento" expand="full"
        [disabled]="(!formCRUD.valid || !formCRUDCPF.valid || !(pedidoLoc$ | async))" (click)="createPedido()">Comprar
      </ion-button>
    </ion-label>
  </form>
</ion-content>