<ion-content>

  <ion-row>
    <ion-label class="imgRestaurante">
      <img class="card-img" [src]="imageLogo" />
    </ion-label>
  </ion-row>

  <form padding [formGroup]="formCRUD">
    <ion-input padding formControlName="email" class="input" type="email" clearInput placeholder="E-mail"></ion-input>
    <ion-input padding formControlName="password" class="input" type="password" clearInput placeholder="Senha">
    </ion-input>
    <ion-row class="buttons">
      <ion-button class="btn-cadastro" expand="full" (click)="onCadastro()">Cadastrar</ion-button>
      <ion-button class="btn-login" expand="full" (click)="onLogin()">Login</ion-button>
      <span class="esqueci" (click)="presentModal()" expand="full" routerDirection="root">
        <strong>Esqueci minha senha</strong>
      </span>
    </ion-row>
    <!-- <ion-row class="forgot-password">
      <ion-button (click)="presentModal()" expand="full" routerDirection="root">
        Esqueci minha senha
      </ion-button> -->
    <!-- </ion-row> -->
  </form>
</ion-content>