<ion-content padding>
  <form>
    <ion-input padding class="input" clearInput placeholder="E-mail"></ion-input>
    <ion-input padding class="input" type="password" clearInput placeholder="Senha"></ion-input>
    <ion-row class="buttons">
      <ion-button class="btn-login" expand="full">Login</ion-button>
      <ion-button class="btn-cadastro" expand="full">Cadastrar</ion-button>
    </ion-row>
    <ion-row class="forgot-password">
      <span routerLink="/dashboard" routerDirection="root">
        Esqueci minha senha
      </span>
    </ion-row>
  </form>
</ion-content>