:host {
  ion-content {
    --background: url("../../../assets/images/bg.jpg");
    // --background: rgb(131, 207, 226);
  }
}

.input {
  background: #ffffff;
  border: 1px solid #766f74;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin-top: 10px;
  height: 40px;
}

#btnCriarConta {
  margin-top: 20px;
  --background: #b41661;
}

.validation-errors {
  color: red;
  display: inline-block;
  font-size: 16px;
  line-height: 15px;
  margin: 5px 0 0;
  background: #FFF;
  padding: 10px;
  width: 100%;
}
