<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-row>
        <h5 class="title">Cadastrar</h5>
        <ion-icon></ion-icon>
      </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-content padding>
    <form fxLayoutAlign="column">
      <ion-input padding id="nome" class="input" type="text" placeholder="Nome"></ion-input>
      <ion-input padding id="telefone" class="input" type="number" placeholder="Telefone"></ion-input>
      <ion-input padding id="email" class="input" type="email" placeholder="E-mail"></ion-input>
      <ion-input padding id="password" class="input" type="password" placeholder="Senha"></ion-input>
      <ion-input padding id="confirmPassword" class="input" type="password" placeholder="Confirmar senha"></ion-input>
    </form>

    <ion-button id="btnCriarConta" expand="full">Criar conta</ion-button>
</ion-content>