<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-size: 17px;">Cadastro de Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
        <small>Voltar</small>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar *ngIf="!(categorias$ && produtos$)" type="indeterminate"></ion-progress-bar>
  <!-- Default Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row style="margin: 10px;">
    <ion-col>
      <ion-button (click)="listar(listarProdutos)" style="justify-content: start;" expand="full">
        <ion-icon style="padding-right: 5px;" name="list"></ion-icon>Listar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button style="justify-content: end;" expand="full" (click)="cadastrar(cadastrarProdutos)">
        <ion-icon style="padding-right: 5px;" name="add"></ion-icon>Categoria
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card style="background-color: white;" *ngIf="listarProdutos">

    <ion-item style="margin: 10px;" lines="none" (click)="openProdutoModal(item)"
      *ngFor="let item of produtos$ | async">
      <small>{{item?.id}}. {{item?.nome}} - R${{item?.preco}} ({{item?.categoria?.nome}})</small>
    </ion-item>

  </ion-card>

  <ion-button style="margin: 10px;" size="default" expand="full" (click)="openProdutoModal()">
    Adicionar Produto
  </ion-button>

  <ion-card *ngIf="cadastrarProdutos" style="padding: 0;">
    <form [formGroup]="formCRUDCategoria" fxLayoutAlign="column">
      <ion-item style="margin-top: 10px;">
        <ion-col lines="none">
          <ion-item-group style="text-align: center; margin: 10px;">
            <ion-label style="padding-bottom: 5px;">Categoria</ion-label>
            <ion-item-divider></ion-item-divider>
          </ion-item-group>

          <ion-item style="margin: 10px;" lines="none">
            <ion-select style="min-width: 100%;" formControlName="OPTION" (ionChange)="trocarOperacao(1)">
              <ion-select-option *ngFor="let item of options" [value]="item.id">
                {{item.descricao}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!formCRUDCategoria.get('OPTION').value" lines="none" style="margin: 10px;">
            <ion-label position="floating">Nome da categoria</ion-label>
            <ion-input padding formControlName="nome" class="input" type="text" required></ion-input>
          </ion-item>

          <ion-item *ngIf="formCRUDCategoria.get('OPTION').value" style="margin: 10px;">
            <ion-select style="min-width: 100%;" formControlName="id" placeholder="Selecione"
              (ionChange)="buscarIdCategoria(formCRUDCategoria.get('id').value)">
              <ion-select-option *ngFor="let item of (categorias$ | async)" [value]="item.id">
                {{item?.nome}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item-divider></ion-item-divider>

          <ion-col *ngIf="formCRUDCategoria.get('OPTION').value" lines="none">
            <ion-item lines="none" style="margin: 10px;">
              <ion-label position="floating">Nome da categoria</ion-label>
              <ion-input padding formControlName="nome" class="input" type="text" placeholder="Nome" required>
              </ion-input>
            </ion-item>
            <ion-item lines="none" style="margin: 10px;">
              <ion-label>Ativo</ion-label>
              <ion-toggle formControlName="ativo"
                (ionChange)="updateAtivoCategoria(formCRUDCategoria.get('ativo').value)">
              </ion-toggle>
            </ion-item>
          </ion-col>
          <ion-button style="margin: 0;" [disabled]="!formCRUDCategoria.valid" id="btnCriarConta" expand="full"
            (click)="onConfirmCategoria()">
            <ion-label *ngIf="!formCRUDCategoria.get('OPTION').value; else atualizar">Inserir</ion-label>
            <ng-template #atualizar>
              Atualizar
            </ng-template>
          </ion-button>
        </ion-col>
      </ion-item>
    </form>

  </ion-card>



</ion-content>