:host {
  ion-content {
    --background: url("../../../../assets/images/bg.jpeg");
    // --background: rgb(131, 207, 226);
  }
}

.item-inner {
  min-height: 1px !important;
}

ion-item-divider {
  margin-top: 0px;
  min-height: 1px !important;
}

.input {
  background: #ffffff;
  border: 1px solid #766f74;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin-top: 10px;
  height: 40px;
}
