ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

ion-card {
  padding: 0;
}

.card-img {
  height: 250px;
  object-fit: cover;
  object-position: 50% 50%;
}

ion-card-header {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.card-title {
  margin-top: 5px;
  font-size: 14px;
  line-height: 21px;
  font-family: Roboto;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #626262;
}

.star {
  font-size: 12px;
  margin-left: 3px;
}

.margin-5px {
  margin-top: 5px;
}

.price {
  /* R$ 2,50 */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: flex-end;
}

.btn-add-remove {
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
