<ion-header>
  <app-toolbar [title]="'Olá, ' + (usuario$ | async)?.nome"></app-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onClickCart()">
      <ion-icon name="cart">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Default Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-progress-bar *ngIf="!(produtos$ | async)?.length" type="indeterminate"></ion-progress-bar>

  <ion-searchbar animated placeholder="Pesquisar" (ionChange)="onSearch($event.target.value)"></ion-searchbar>
  <ion-card *ngFor="let card of (produtos$ | async)">
    <ion-card-header>
      <img class="card-img" [src]="images + card?.foto" />
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-row>
              <ion-card-title class="card-title">{{ card?.nome }}</ion-card-title>
            </ion-row>
            <ion-row class="margin-5px">

              <ion-card-subtitle>
                <ion-note>Categoria: </ion-note>
                {{ card?.categoria?.nome }}
              </ion-card-subtitle>
            </ion-row>
            <ion-row class="margin-5px">
              <ion-card-subtitle>
                <ion-note>Restaurante: </ion-note>
                {{ card?.restaurante?.nome }}
              </ion-card-subtitle>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="btn-add-remove">
            <ion-icon style="color: #ff4545; font-size: 22px;" (click)="onChangeValor('remove', card)"
              name="remove-circle"></ion-icon>
            <span style="line-height: 24px;">{{ countQtdItemCarrinho(card.id)?.qtd || 0 }}</span>
            <ion-icon style="color: #45a845; font-size: 22px;" (click)="onChangeValor('add', card)" name="add-circle">
            </ion-icon>
          </ion-col>
          <ion-col class="price"><small>R$</small> {{ totalProduto(card?.preco, card?.id) }} </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>