<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <h5 class="title">Olá, George</h5>
      <ion-icon name="cart" class="btn-cart"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated></ion-searchbar>

  <ion-card *ngFor="let card of cardItem">
    <ion-card-header>
      <ion-img class="card-img" [src]="card.foto_url"></ion-img>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title class="card-title">{{ card.title }}</ion-card-title>
            <ion-row class="margin-5px">
              <ion-card-subtitle>{{ card.peso }}</ion-card-subtitle>
              <ion-col></ion-col>
            </ion-row>
            <ion-row class="margin-5px">
              <ion-card-subtitle>{{ card.restaurante }}</ion-card-subtitle>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="btn-add-remove">
            <ion-icon style="color: #ff4545; font-size: 22px;" name="remove-circle"></ion-icon>
            <span style="line-height: 24px;">0</span>
            <ion-icon style="color: #45a845; font-size: 22px;" name="add-circle"></ion-icon>
          </ion-col>
          <ion-col class="price"><small>R$</small> {{ card.preco_produto }}</ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-header>
  </ion-card>

</ion-content>