<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <h5 class="title">Olá, George</h5>
      <ion-icon name="cart" class="btn-cart"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-img class="card-img" src="assets/images/cupcake.png"></ion-img>
      <ion-card-title class="card-title">Cupcake</ion-card-title>
      <h3 class="rating">4.5</h3>
    </ion-card-header>

    <!-- <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> -->
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>FOOTER</ion-title>
  </ion-toolbar>
</ion-footer>