ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.btn-cart {
  color: #fff;
  font-size: 23px;
  text-align: right;
  align-self: center;
  margin-right: 10px;
}

.title {
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: left;
  line-height: 40px;

  color: #ffffff;
}

ion-card {
  padding: 0;
}

.card-img {
  height: 130px;
  width: 100px;
  margin-right: 10px;
}

ion-card-header {
  display: flex;
  flex-direction: row;
  padding: 0;
}

ion-card-title {
  /* CUPCAKE */

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  text-align: center;
  letter-spacing: 0.1em;

  color: #000000;
}

.rating {
  /* 4.5 */

  position: absolute;
  width: 39px;
  height: 28px;
  left: 272px;
  top: 159px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #000000;
}
