<ion-header>
  <app-toolbar title="AVALIAÇÃO"></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="imgLogo">
      <ion-img src="assets/images/logo.png"></ion-img>
    </ion-row>
    <ion-row class="icandy">
      ICANDY
    </ion-row>

    <ion-col>
      <ion-row class="centralizado">
        Parabéns!
      </ion-row>
      <ion-row class="centralizado">
        Pedido finalizado com sucesso
      </ion-row>
    </ion-col>

    <ion-grid>
      <ion-row class="centralizado">
        Avalie o nosso serviço
      </ion-row>
    </ion-grid>
  </ion-grid>
  <form [formGroup]="formCRUD">
    <ion-rating class="centralizado" formControlName="rate" readonly="false" size="5"></ion-rating>
  </form>


  <ion-grid style="padding-top: 15px;">
    <ion-label color="primary">
      <ion-button id="btn" expand="full">Enviar</ion-button>
    </ion-label>
  </ion-grid>

</ion-content>