<ion-header>
  <app-toolbar title="HISTÓRICO DE PEDIDOS"></app-toolbar>
</ion-header>

<ion-content>
  <!-- {{pedido$ | async | json}} -->
  <ion-item *ngFor="let item of (pedido$ | async) " style="padding-top: 5px;">
    <ion-row>
      <ion-col style="max-width: 50px; padding: 0;">
        <ion-label class="imgRestaurante">
          <ion-icon style="padding-top: 10px;" name="restaurant"></ion-icon>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            Artes NeW
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Pedido Nº {{ item?.id }}
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col style="text-align: end;">
        <ion-button (click)="presentPopover()" routerDirection="root">
          <ion-icon style="font-size: 30px;" name="add"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-row>
        <ion-col style="min-width: 175px;">
          {{item?.statusPedido?.descricao}}
          </ion-col>
          <ion-col>
            <small>
                {{item?.updatedAt | date: 'dd/MM/yyyy hh:mm:ss'}}
            </small>
          </ion-col>
        </ion-row>
    </ion-row>
  </ion-item>
</ion-content>