<ion-header>
  <app-toolbar title="HISTÓRICO DE PEDIDOS"></app-toolbar>
</ion-header>

<ion-content>
  <!-- {{pedido$ | async | json}} -->
  <ion-progress-bar *ngIf="(!hasData)" type="indeterminate"></ion-progress-bar>


  <ion-col *ngIf="empty" class="ion-justify-content-between">
    <ion-row style="justify-content: center; opacity: 0.5;">
      <ion-label>
        <ion-icon style="font-size: 150px" name="folder-open"></ion-icon>
      </ion-label>
    </ion-row>
    <ion-row style="justify-content: center; opacity: 0.5; margin-top: -25px;">
      <h3>Oops!</h3>
    </ion-row>
    <ion-row style="justify-content: center; opacity: 0.5;">
      <h3>Ainda não existem pedidos.</h3>
    </ion-row>
    <ion-row style="text-align: center; opacity: 0.5; margin: 10px;">
      <h6>Realize um pedido e veja o quão fácil e rápido é o nosso serviço!!</h6>
    </ion-row>
  </ion-col>
  <ion-col *ngIf="empty" style="height: 95px; position: absolute; bottom: 0; width: 160px;">
    <ion-row style="opacity: 0.5;">
      <ion-img style="height: 100px;" [src]="imageArrow"></ion-img>
    </ion-row>
  </ion-col>

  <ion-item *ngFor="let item of (pedido$ | async) " style="padding-top: 5px;">
    <ion-row>
      <ion-col style="max-width: 50px; padding: 0; padding-right: 10px;">
        <ion-label class="imgRestaurante">
          <ion-icon style="padding-top: 10px;" name="restaurant"></ion-icon>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-row>
          Pedido Nº {{ item?.id }}
        </ion-row>
        <ion-row>
          <small>
            Artes NeW
          </small>
        </ion-row>
        <ion-row style="min-width: 120px;">
          <small>
            {{item?.updatedAt | date: 'dd/MM/yyyy hh:mm:ss'}}
          </small>
        </ion-row>
      </ion-col>
      <ion-col style="text-align: end; size: 5px; height: 10px;">
        <ion-icon style="font-size: 30px;" name="information-circle" color="primary" (click)="presentPopover(item.id)"
          routerDirection="root">
        </ion-icon>
      </ion-col>
      <ion-row>
        <ion-col style="padding-top: 0; line-height: 40px">
          {{item?.statusPedido?.descricao}}
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-item>
</ion-content>